* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    color: #ffffff;
    box-sizing: border-box;
}

/* START OF TABLE CSS */
.table-container {
    display: block;
    margin: auto;
}
@media only screen and (max-width: 760px) {
    .table-container {
        overflow-x: auto;
        margin: 0;
    }
}
table {
    display: block;
    box-sizing: border-box;
    border-collapse: collapse;
}
td, th {
    text-align: center;
    padding: 5px;
    border: 1px solid #ffffff;
}
td:hover, th:hover {
    background-color: #4f4f4f;
}
/* END OF TABLE CSS */

html {
    background-color: #303030;
}

body {
    color: #D6CFCB;
    padding: 0 8%;
    padding-top: 1rem;
    padding-bottom: 4rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    padding: 0.5rem 0;
    outline: none;
    resize: none;
}

.hide {
    display: none;
}

.button {
    background-color: transparent;
    border: 0.1rem solid #ffffff;
    outline: none;
    padding: 0.35rem;
    border-radius: 2rem;
}

.button:hover {
    cursor: pointer;
    color: #303030;
    background-color: #ffffff;
}

input, textarea {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    text-align: center;
}

input {
    border-radius: 0;
    border-bottom: 0.1rem solid #ffffff;
}

textarea {
    height: 60vh;
    border: 0.1rem solid #ffffff;
    border-radius: 0.5rem;
}

#total {
    text-align: left;
}

.green {
    color: #4ceb81;
}